.nav-button {
    -fx-background-color: #fff;
    -fx-text-fill: #333333;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #d1ecff;
}

.nav-button:pressed {
    -fx-background-color: #9bc5ee;
}

.nav-panel {
    -fx-background-color: #fff;
    -fx-border-color: #9a9a9a;
    -fx-border-width: 0 1px 0 0;
}

.background-login {
    -fx-background-image: url('../layouts/images/desktop-wallpaper-login-background-outlook-login.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}