.button
{
-fx-background-color : #fff;
-fx-text-fill : #000;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.background-login {
   -fx-background-image: url('../layouts/images/desktop-wallpaper-login-background-outlook-login.jpg');
   -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}